<section class="pl-section" id="customControls">
  <h3><a href="#customControls">Custom Controls</a></h3>
  <p>
    For more complex controls that require more than simple markup, we utilize
    the <a href="https://jqueryui.com/widget/">jQuery UI Widget</a> pattern. This
    does not mean that we require jQuery UI, however, we simply include and use
    this pattern to provide a consistent API for you to interact with. These
    widgets allow us to use Cyclops to embellish and extend the standard markup
    to provide a richer user experience.
  </p>

  <!-- Range Widget -->
  <h4 id="range">
    <a href="#range">Range</a>
    <a href="todo.html#range"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-api' /></svg></a>
  </h4>
  <div class="pl-example">
    {{> forms/examples/custom-controls-range }}
  </div>
  <pre class="show-type">
    <code class="html">
&lt;input id=&quot;customRange&quot; type=&quot;range&quot; min=&quot;1&quot; max=&quot;100&quot; step=&quot;10&quot; /&gt;
    </code>
    <code class="javascript">
var rangeNode = $("#customRange").range({
  valueChange: function(evt, data){
    // Called every time the value changes
    // data.value to access the current value
  }
});
// Get the current value
rangeNode.range("value");
// Set the current value
rangeNode.range("value", 10);
    </code>

    <!-- Toggle Widget -->
    <h4 id="toggle">
      <a href="#toggle">Toggle</a>
      <a href="todo.html#toggle"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-api' /></svg></a>
    </h4>
    <div class="pl-example">
      {{> forms/examples/custom-controls-toggle }}
    </div>
    <pre show-type>
      <code class="html">
  &lt;input id="customToggle" type="checkbox" /&gt;
      </code>
      <code class="javascript">
  var toggleWidget = $("#customToggle").toggle({
    onChange: function(event, data) {
      // Called every time the checked state changes.
    }
  });

  // Get the current checked state
  toggleNode.toggle("checked");

  // Set the state to checked
  toggleNode.toggle("checked", true);
      </code>
    </pre>

  </pre>
</section>
