<div id="cyclops-nav-stacked" class="nav nav-stacked">
  <ul class="tabs">
    <li class="nav-title"><a href="dependencies.html">code</a></li>
    <li id="dependencies" class="tab">
      <a href="dependencies.html">Dependencies</a>
    </li>
    <li id="range" class="tab">
      <a href="range.html">Range</a>
    </li>
    <li id="toggle" class="tab">
      <a href="toggle.html">Toggle</a>
    </li>
  </ul>
</div>

<script>
  (function(tabName) {
    if (tabName) {
      var tab = document.getElementById(tabName);
      if (tab)
        tab.className = tab.className + ' selected';
    }
  })('{{block "tabName"}}');
</script>
