//
// Cyclops Toggle Widget
//
.cyclops-toggle-widget {
  height: 34px;
  position: relative;
  user-select: none;
  width: 70px;

  input {
    display: none;

    &:checked ~ .handle {
      right: 0;
    }

    &:checked ~ .text {
      margin-left: 0;
      background-color: $brand-success;
      border: 1px solid darken($brand-success, 5%);
      color: #fff;
    }
  }

  label {
    overflow: hidden;
    cursor: pointer;
    margin: 0 0 -12px 0;
    width: 70px;
    height: 34px;
  }

  .text {
    width: 70px;
    height: 34px;
    padding-top: 5px;
    background-color: #eee;
    border: 1px solid $border-color;
    color: $text-color;
    border-radius: $border-radius-base;
    transition: background 0.3s ease-in, border 0.3s ease-in, color .1s ease-in .1s;
  }

  .affirmative, .negative {
    float: left;
    width: 34px;
    padding: 0;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    text-align: center;
  }

  .negative {
    left: 34px;
  }

  .handle {
    display: block;
    width: 35px;
    height: 35px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    border-radius: $border-radius-small;
    border: 1px solid $border-color;
    transition: all 0.3s ease-in 0s;
  }

  // Disabled State ------------------------------------------------------------

  &.disabled {
    cursor: not-allowed;
    // TODO: The previous disabled support wouldn't highlight the on/off state.
    //       Is this an acceptable solution instead?
    opacity: 0.5;

    label {
      cursor: inherit;
    }
  }

}
