.range-container {
  position: relative;
}

.range-container .form-control {
    width: 75px;
    position: absolute;
}

.range-input-container {
  padding-top: 7px;
  margin-left: 85px;
}


input[type=range] {

  width: 100%;
  -webkit-appearance: none;

  &:disabled {
    cursor: not-allowed;

    &::-webkit-slider-thumb{
      cursor: not-allowed;
    }

    &::-moz-range-track{
      cursor: not-allowed;
    }

    &::-moz-range-thumb{
      cursor: not-allowed;
    }

    &::-ms-track{
      cursor: not-allowed;
    }

    &::-ms-thumb{
      cursor: not-allowed;
    }

    &::-webkit-slider-runnable-track {
      cursor: not-allowed;
    }

    &::-moz-range-thumb {
      border: 1px solid #c1c1c1;
      background: #e0e0e0;
    }

    &::-ms-thumb{
      border: 1px solid #c1c1c1;
      background: #e0e0e0;
    }

    &::-webkit-slider-thumb {
      border: 1px solid #c1c1c1;
      background: #e0e0e0;
    }

  }

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: #6bc067;
    }

    &::-ms-fill-lower {
      background: #59b955;
    }

    &::-ms-fill-upper {
      background: #6bc067;
    }
  }


  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: #59b955;
    border-radius: 3px;
    border: 1px solid #248e1b;
  }

  &::-webkit-slider-thumb {
    border: 1px solid rgba(102, 102, 102, 0.4);
    height: 30px;
    width: 20px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px
  }

  &::-moz-range-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: #59b955;
    border-radius: 3px;
    border: 1px solid #248e1b;
  }

  &::-moz-range-thumb {
    border: 1px solid rgba(102, 102, 102, 0.4);
    height: 31px;
    width: 21px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #4bad47;
    border: 1px solid #248e1b;
    border-radius: 6px;
  }
  &::-ms-fill-upper {
    background: #59b955;
    border: 1px solid #248e1b;
    border-radius: 6px;
  }

  &::-ms-thumb {
    border: 1px solid rgba(102, 102, 102, 0.4);
    height: 31px;
    width: 21px;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    height: 20px;
  }
}
