//
// Tags
//

@mixin tag-variant($color) {
  background-color: $color;

  &[href] {
    &:hover, &:focus {
      background-color: darken($color, 10%);
    }
  }
}

.tag {
  display: inline-block;
  padding: 0.5em;
  font-size: 75%;
  font-weight: $font-weight-bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $border-radius-small;

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }
}

.tag-default {
  @include tag-variant($tag-default-bg);
}

.tag-primary {
  @include tag-variant($tag-primary-bg);
}

.tag-info {
  @include tag-variant($tag-info-bg);
}

.tag-warning {
  @include tag-variant($tag-warning-bg);
}

.tag-danger {
  @include tag-variant($tag-danger-bg);
}
